@model IEnumerable<AnnouncementsApp.Models.Announcement>

@{
    ViewData["Title"] = "Lista ogłoszeń";
}

<div class="text-left">
    <h1 class="display-4">Ogłoszenia</h1>
    @{
        if (@Model.Count() == 0)
        {
            <h3>Brak ogłoszeń w bazie danych.</h3>
        }
    }

    @foreach (var ann in Model)
    {
    <div class="shadow-sm p-3 mb-5 bg-dark rounded">
        <div class="row">
            <div class="col col-sm-4">
                <h5 class="font-weight-light text-light text-center">@ann.Title</h5>
                <div class="d-block border border-light bg-light rounded" style="margin: 0px 1rem!important;">
                    <p class="text-center m-1">
                        @ann.Category.Name
                    </p>
                </div>
            </div>
            <div class="col col-sm-8">
                @if (ann.Description.Length > 200)
                {
                    <p style="font-size: 1.1rem" class="text-light">@ann.Description.Substring(0, 200)...</p>

                }
                else
                {
                    <p style="font-size: 1.1rem" class="text-light"> @ann.Description</p>

                }
            </div>
        </div>
        <div class="row">
            <!-- Jeśli jesteś autorem wyświetla Ci się button Edytuj, Delete-->
            @if (User.Identity.Name == ann.Mail)
            {
                <div class="col-4 mt-2">
                    <a class="text-white" asp-action="Edit" asp-route-id="@ann.AnnouncementId">
                        <button type="button m-2" class="btn btn-warning text-white w-100">
                            Edytuj
                        </button>
                    </a>
                </div>
                <div class="col-4 mt-2">
                    <a class="text-white" asp-action="Delete" asp-route-id="@ann.AnnouncementId">
                        <button type="button m-2" class="btn btn-danger text-white w-100">
                            Usuń
                        </button>
                    </a>
                </div>
            }
            else
            {
               <div class="col-8">
               </div>

            }
            <div class="col-4 mt-2">
                <a class="text-white" asp-action="Details" asp-route-id="@ann.AnnouncementId">
                    <button type="button m-2" class="btn btn-success text-white w-100">
                        Wiecej informacji
                    </button>
                </a>
            </div>
        </div>
    </div>
    }

</div>
